# 1. Add the Grafana repo
helm repo add grafana https://grafana.github.io/helm-charts
helm repo update

# 2. Generate the full configuration file (saving it to k8s/grafana.yaml)
helm template k8s-mon grafana/k8s-monitoring \
  --namespace production \
  --set cluster.name="production-cluster" \
  --set destinations[0].name="grafana-cloud-metrics" \
  --set destinations[0].type="prometheus" \
  --set destinations[0].url="https://prometheus-prod-53-prod-me-central-1.grafana.net/api/prom/push" \
  --set destinations[0].auth.type="basic" \
  --set destinations[0].auth.username="2920933" \
  --set destinations[0].auth.passwordFromSecret.name="grafana-agent-credentials" \
  --set destinations[0].auth.passwordFromSecret.key="token" \
  --set destinations[1].name="grafana-cloud-logs" \
  --set destinations[1].type="loki" \
  --set destinations[1].url="https://logs-prod-033.grafana.net/loki/api/v1/push" \
  --set destinations[1].auth.type="basic" \
  --set destinations[1].auth.username="1456139" \
  --set destinations[1].auth.passwordFromSecret.name="grafana-agent-credentials" \
  --set destinations[1].auth.passwordFromSecret.key="token" \
  --set clusterMetrics.enabled=true \
  --set clusterEvents.enabled=true \
  --set podLogs.enabled=true \
  --set kube-state-metrics.enabled=true \
  --set prometheus-node-exporter.enabled=true \
  --set opencost.enabled=false \
  > k8s/grafana.yaml