name: Deploy to GKE

on:
  # push:              <-- Commented out (Disabled)
  #   branches:
  #     - main
  workflow_dispatch:   # <-- Enabled (Manual Click Only)

env:
  PROJECT_ID: our-shield-480712-i3
  GKE_CLUSTER: production-cluster
  GKE_ZONE: us-central1-a

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # --- 1. SETUP TOOLS ---
    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    - name: Set up GKE credentials
      uses: google-github-actions/get-gke-credentials@v2
      with:
        cluster_name: ${{ env.GKE_CLUSTER }}
        location: ${{ env.GKE_ZONE }}

    - name: Install Helm
      uses: azure/setup-helm@v4
      with:
        version: v3.12.0

    # --- 2. DEPLOY APP (Podinfo) ---
    - name: Deploy Application
      run: |
        kubectl apply -f k8s/ --recursive

    # --- 3. DEPLOY MONITORING (The Fix) ---
    # Added 'alloy-singleton.enabled=true' to the bottom
    - name: Deploy Grafana Monitoring Stack
      run: |
        helm repo add grafana https://grafana.github.io/helm-charts
        helm repo update
        helm upgrade --install grafana-k8s-monitoring grafana/k8s-monitoring \
          --namespace production --create-namespace \
          --atomic --timeout 300s \
          --set cluster.name="production-cluster" \
          --set destinations[0].name="grafana-cloud-metrics" \
          --set destinations[0].type="prometheus" \
          --set destinations[0].url="https://prometheus-prod-53-prod-me-central-1.grafana.net/api/prom/push" \
          --set destinations[0].auth.type="basic" \
          --set destinations[0].auth.username="2920933" \
          --set destinations[0].auth.password="${{ secrets.GRAFANA_TOKEN }}" \
          --set destinations[1].name="grafana-cloud-logs" \
          --set destinations[1].type="loki" \
          --set destinations[1].url="https://logs-prod-033.grafana.net/loki/api/v1/push" \
          --set destinations[1].auth.type="basic" \
          --set destinations[1].auth.username="1456139" \
          --set destinations[1].auth.password="${{ secrets.GRAFANA_TOKEN }}" \
          --set clusterMetrics.enabled=true \
          --set clusterEvents.enabled=true \
          --set podLogs.enabled=true \
          --set kube-state-metrics.enabled=true \
          --set prometheus-node-exporter.enabled=true \
          --set opencost.enabled=false \
          --set alloy-metrics.enabled=true \
          --set alloy-logs.enabled=true \
          --set alloy-singleton.enabled=true