name: Deploy to GKE

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: our-shield-480712-i3
  GKE_CLUSTER: production-cluster
  GKE_ZONE: us-central1-a

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # 1. Authenticate to Google Cloud
    - name: Google Auth
      uses: google-github-actions/auth@v2
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    # 2. Get Cluster Credentials
    - name: Set up GKE credentials
      uses: google-github-actions/get-gke-credentials@v2
      with:
        cluster_name: ${{ env.GKE_CLUSTER }}
        location: ${{ env.GKE_ZONE }}

    # 3. Create Grafana Secret (Secure Injection)
    # This takes the password from GitHub and creates a K8s secret on the fly
    - name: Create Grafana Secret
      run: |
        kubectl create secret generic grafana-agent-credentials \
          --namespace=production \
          --from-literal=token='${{ secrets.GRAFANA_TOKEN }}' \
          --dry-run=client -o yaml | kubectl apply -f -

    # 4. Deploy Everything (App + Monitoring)
    - name: Deploy Manifests
      run: |
        kubectl apply -f k8s/ --recursive